# 빅분기 실기 Cheat Sheet

## 단답형 1유형

- pandas, numpy 등 활용
- 리스트 나누기, 결측치 채우기, 데이터 섞기 등등
- 기출 문제 활용

In [2]:
# 라이브러리 및 데이터 불러오기
import pandas as pd

df = pd.read_csv('basic1.csv')
df.head()

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
3  id04  75.0   서울   NaN   2  NaN  INFP  52.667078
4  id05  24.0   서울  85.0   2  NaN  ISFJ  29.269869

In [3]:
# 1. 칼럼 내림차순 정렬
df.sort_values('f5', ascending=False) # 칼럼 오름차순 정렬 시 'True'

      id   age city    f1  f2   f3    f4         f5
10  id11  40.0   서울  68.0   0  NaN  ENFP  98.429899
97  id98  39.0   경기  58.0   2  NaN  INFP  98.429899
9   id10  95.0   서울  74.0   1  NaN  ISFP  98.429899
76  id77  77.0   경기  31.0   0  NaN  INFP  98.429899
98  id99   1.0   경기  47.0   0  NaN  ESFJ  97.381034
..   ...   ...  ...   ...  ..  ...   ...        ...
54  id55  75.0   대구  63.0   2  NaN  ENTP  13.049921
35  id36  68.0   부산  77.0   1  NaN  INTP  13.049921
6   id07  36.3   서울  60.0   1  NaN  ISFJ   9.796378
90  id91   6.0   경기  72.0   0  NaN  INTP   9.796378
14  id15  22.0   서울  67.0   1  NaN  ENTP   9.796378

[100 rows x 8 columns]

In [4]:
# 2. 최솟값 찾는 법
df['f5'].min() # 급하면 그냥 출력한 후 제일 작은 값 직접 입력

9.796377581

In [5]:
# 3. 데이터에 특정 조건 걸기
df[df['age']>=80]['f5'] # 'age' 칼럼이 80보다 크거나 같은 데이터 중 'f5' 칼럼 값들 출력

9     98.429899
20    29.269869
23    73.586397
30    73.586397
36    33.308999
37    83.685380
40    37.113739
44    13.049921
45    67.886373
49    60.339826
51    90.496999
60    69.730313
62    73.586397
65    17.252986
72    73.586397
77    69.730313
80    37.113739
84    80.138280
87    60.339826
91    97.381034
93    90.496999
95    52.667078
96    67.886373
Name: f5, dtype: float64

In [6]:
# 4. 데이터 구조 파악
import numpy as np

df.shape

(100, 8)

In [7]:
# 5. 데이터 나누는 방법

# 5-1. iloc
data70 = df.iloc[:70] # 상위 70% 데이터
data30 = df.iloc[70:] # 하위 30% 데이터

# 5-2. numpy 활용(split)
data70, data30 = np.split(df, [int(.7 * len(df))]) # 70% 기준으로 데이터 나누기

# 5-3. 랜덤 샘플링 시(sample)
data70 = df.sample(frac = 0.7)

In [8]:
# 6. 결측치 확인
data70.isnull().sum() # 각 칼럼별 결측치 갯수 파악

id       0
age      0
city     0
f1      20
f2       0
f3      67
f4       0
f5       0
dtype: int64

In [9]:
# 7. 표준편차 구하기
np.std(data70['f1']) # data70의 'f1' 칼럼의 표준편차

20.088812807132232

In [10]:
# 8. 중앙값 확인
data70['f1'].median()

63.0

In [12]:
# 9. 결측치 중앙값으로 채우기
data70['f1'] = data70['f1'].fillna(data70['f1'].median())

data70.isnull().sum()

id       0
age      0
city     0
f1       0
f2       0
f3      67
f4       0
f5       0
dtype: int64

In [13]:
# 10. 이상치 다루기
# 이상치 문제는 출제확률 높음

# 이상치 및 평균 정의
std = np.std(df['age']) * 1.5
mean = df['age'].mean()

# 이상치 기준 설정
min_out = mean - std
max_out = mean + std # min_out 보다 작거나 max_out 보다 큰 값이 이상치

print(min_out, max_out)

5.527756578730653 96.39824342126934